<h1>Products INDEX</h1>
<p>Find me in app/views/products/index.html.erb TEST TEST </p>

<p><% @products.each do |product| %></p>
  <ul>
    <li><%= product.id %> | <%= product.name %> | <%= product.description %> | $<%= product.formatted_price %></li>
  </ul>
  <% end %>
